{{define "title"}}Create a Card Set{{end}} 

{{define "main"}}
<form action="/cardset/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
            <label class="error">{{.}}</label>
        {{end}}
            <input type="text" name="title" value="{{.Form.Title}}" />
    </div>
    <div>
        {{with .Form.FieldErrors.cards_number}}
            <label class="error">{{.}}</label>
        {{end}}
        <label>Number of cards:</label>
        <input type="number" name="cards_number" value="5" min="3" max="10" />
    </div>
    <div>
        <input type="submit" value="Create card set [1/2]" />
    </div>
</form>
{{end}}
