{{define "title"}}Create Cards for {{.CardSet.Title}} {{end}} 

{{define "main"}}
<h2>{{.CardSet.Title}}</h2>
<form action="/cards/create/{{.CardSet.ID}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range $i, $v := .Form}}
    <div>
        <h3>{{ $i | increment }}</h3>
        <div>
            <label>Question:</label>
            {{with $v.FieldErrors.question}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="question{{ $i | increment }}" value="{{$v.Question}}" />
        </div>
        <div>
            <label>Answer:</label>
            {{with $v.FieldErrors.answer}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="answer{{ $i | increment }}" value="{{$v.Answer}}" />
        </div>
    </div>
    {{end}}
    <div>
        <input type="submit" value="Create card set [2/2]" />
    </div>
</form>
{{end}}
