{{define "title"}}Card Set: {{.CardSet.ID}}{{end}} 

{{define "main"}}
    {{with .CardSet}}
    <div class="card-set">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
            <p>Number of cards: {{.CardsNumber}}</p>
        </div>
        <div>
        <table>
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            {{ range $i, $v := .Cards }}
                <tr>
                    <td>{{ $i | increment }}</td>
                    <td>{{ $v.Question }}</td>
                    <td>{{ $v.Answer }}</td>
                </tr>
            {{ end }}
        </table>
        </div>
        <div class="metadata">
            <time>Created: {{.Created | humanDate}}</time>
        </div>
    </div>
    {{end}}
{{end}}
